/* Made/Modified by Alexandr Popenko
2-15-2021
CGS1821.0M1: WEB AUTH 2
Final Project

Added RWD.
Added Nav Menu.
Added flexbox.
*/
html {
	background-image: url("../images/bats.gif");	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
    max-width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
h2{
    text-align: center;
    color:white;
    font-family: 'Smythe', cursive;
    padding: .5em;
        
}
main p{
    margin: 1em;
    font-size: 120%;
}
/* Grid Layout*/
/*Header grid*/
.headergrid{
    display: grid;
    grid-template-columns: 75% 25%
}
/* Main grid*/
.maingrid{
    display: grid;
    margin: 0 3em 0 3em;
}
.welcome{
    size:100%;
    margin-top: 1em;
}
.para1{
    margin-top: 1em;
    font-size: 120%;
}
.para2{
    margin-top: 1em;
    font-size: 120%;
}
.para3{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 120%;
}

/* Navigation menu */
#nav_menu {
	clear: left;
}
#nav_menu ul {
    
	list-style: none;
	position: relative;
    margin: 0;
	padding: 0;

}
#nav_menu ul li {
	
	width: 25%;
    
    float: left;
}


#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

#nav_menu ul li:hover ul {
	width: 100%;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 1em;
	text-decoration: none;
	background-color: blue;
	color: aliceblue;
}
#nav_menu ul li a.current {
	color: darkblue;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: deepskyblue;
}



/* Header */
header { 
    background-color: #4287f5;
} 

header h2 {
	font-size: 300%;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
}
/*Image*/
img{
    width: 50%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    animation-name: leftright;
    animation-duration: 2s;
    
        
    
}
/*Video*/
video{
    max-height: 150px;
}

/* Grid Columns*/

.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/* animation */
@keyframes leftright{
    0% {transform: translateX(0px)}
    30% {transform: translateX(2em)}
    70%{transform: translateX(-4em)}
    100%{transform: translateX(0px)}
}




#colors{
    margin-top: 1em;
}





/* Footer */
footer { 
	background-color: #4287f5;
    padding: 1em;
    
} 
footer p {
	font-size: 90%;
	text-align: center;
}


/* RWD menu*/
#mobile_menu {
	display: none;
}

@media only screen and (max-width: 800px) {
	html {
		background-image: none;
	}
	body {
		font-size: 90%;
		box-shadow: none;
	}
}

@media only screen and (max-width: 767px) {
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	header h2 {
		font-size: 200%;
	}
	 
	
    main{
        flex-direction: column;
    }
	aside {
        order:2;
		width: 90%;
		float: none;
		padding: 0 5% 1em 5%;
	}
	#nav_list ul {
		width: 50%;
		padding-left: 25%;
		text-align: center;
	}
	
}

@media only screen and (max-width: 479px) {
	header h2 {
		font-size: 180%;
	}
	header h3 {
		font-size: 115%;
	}
	section h1 {
		font-size: 130%;
	}
	section h1:first-letter {
		font-size: 180%;
	}
}
